.wrap {
  margin: 0 auto;
  width: 1440px;
  font-family: "Raleway";
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: 0;
  color: black;
}
nav {
  display: flex;
  gap: 40px;
  padding-right: 60px;

  font-size: 16px;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.logo {
  width: 4%;
  height: 4%;

  margin-top: 20px;
}

.hébergements {
  padding-top: 10px;
}

.activités {
  padding-top: 12px;
}

.activités:hover,
.hébergements:hover {
  border-top: 2px solid #0065fc;
  padding-top: 10px;
  color: #0065fc;
  cursor: pointer;
}

.active {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

.recherche {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding-top: 40px;
}

.entete {
  padding-left: 5px;
}

h1,
h3 {
  line-height: 1.5;
  margin: 0;
}
h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
}
.entete h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}

.inputrecherche {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 377px;
  height: 49px;
}

.searchinp {
  border-radius: 0 20px 20px 0;
  outline: none;
  border: 1px solid #0065fc;
  background-color: #0065fc;
  color: white;
  width: 132px;
  font-size: 15px;
  font-weight: 700;
}

.searchinp:hover {
  background-color: #90b7f1;
  border-color: #90b7f1;
  cursor: pointer;
}

input {
  border-radius: 0 0 0 0;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #f2f2f2;
  border-right: 0px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  width: 270px;
}

input:focus {
  outline: none;
}
.fa-location-dot {
  background-color: #f2f2f2;
  border-radius: 20px 0 0 20px;
  border-top: 13px solid #f2f2f2;
  border-bottom: 13px solid #f2f2f2;
  border-left: 15px solid #f2f2f2;
  border-right: 15px solid #f2f2f2;
  font-size: 20px;
  text-align: center;
  padding-top: 3px;

  width: 50px;
}

.filtres {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 50px;
}
.fontfiltre {
  text-align: justify;
  padding-top: 15px;
  font-weight: 700;
  font-size: 16px;
}

.filtresbtn {
  border-radius: 50px;
  border: 2px solid #d9d9d9;
  background-color: transparent;
  padding: 4px 19px 4px 19px;
  font-weight: 700;
  font-size: 17px;
  height: 50px;
  width: 173px;
}

.filtresbtn:hover {
  background-color: #deebff;
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-fire {
  padding-right: 6px;
  color: #0065fc;
}

.petittexte {
  margin-top: 40px;
}
.fa-info {
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 27px;
  color: #0065fc;
  margin-right: 20px;
}

.infos {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 50px;
}

.cadrehebergements {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 871px;
  height: 614px;
  border-radius: 15px;
  gap: 30px;
}

.hotels {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.hotels2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.afficher {
  font-weight: 700;
  border: none;
  background-color: transparent;
  width: 150px;
  font-size: 16px;
  padding-left: 40px;
}

.card-txt-heb {
  padding-left: 45px;
  font-size: 22px;
  font-weight: 700;
  padding-top: 30px;
}

.hotel1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 207px;
}
.hotel2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 207px;
}

.hotel3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 207px;
}

.hotel1,
.hotel2,
.hotel3 {
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
}

.hotel4 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 207px;
}
.hotel5 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 207px;
}

.hotel6 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 207px;
}

.hotel4,
.hotel5,
.hotel6 {
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
}

.img-card {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 124px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  object-fit: cover;
}

.card-txt {
  padding-left: 15px;
  text-align: left;
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 0;
}

.card-title {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.card-rating {
  text-align: left;
  padding-left: 15px;
  margin-top: 3px;
}

.euro {
  font-weight: 700;
}

.fa-star {
  color: #0065fc;
}

.neutral-star {
  color: #f2f2f2;
}

.populaires {
  background-color: #f2f2f2;
  width: 429px;
  height: 614px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pop-cards {
  background-color: #f2f2f2;
  width: 429px;
  height: 614px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pop-card-1,
.pop-card-2,
.pop-card-3 {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 369px;
  height: 146px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 15px 0px #0000001a;
}

.pop-text {
  font-weight: 700;
  font-size: 22px;
}

.fa-chart-line {
  color: #0065fc;
  height: 15.75px;
  width: 18px;
  margin-top: 5px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 369px;
  height: 26px;
  padding-top: 30px;
  padding-left: 30px;
}
.right-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.card-txt-pop {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-title-pop {
  font-size: 16px;
  font-weight: 700;
}

.card-subtitle-pop {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.img-card-right {
  width: 123px;
  height: 136px;
  object-fit: cover;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card-rating-pop {
  height: 12px;
}

.activites {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.act-txt {
  font-size: 22px;
  font-weight: 700;
}

.act-cards {
  display: flex;
  width: 1280px;
  height: 439px;
  gap: 30px;
}

.act-card-1 {
  width: 297.5px;
  height: 439px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
}

.act-card-img {
  height: 380px;
  width: 297.5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.act-card-txt-card {
  height: 59px;
}
.act-card-txt {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
}

footer {
  background-color: #f2f2f2;
  height: 163px;
  width: 1340px;
  display: flex;
}

.footer-txt-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 446.67px;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
}

.txt {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .wrap {
    padding-left: 50px;
    padding-right: 50px;
  }

  header {
    width: 1024px;
    padding-right: 50px;
    height: 79px;
  }
  .logo {
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
  }
  nav {
    width: 344px;
    height: 35px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 68px;
  }

  .infos {
    flex-direction: column;
  }
  .cadrehebergements {
    width: 924px;
    height: 611.5px;
  }

  .stats {
    width: 864px;
    height: 26px;
    padding-right: 30px;
  }

  .populaires {
    flex-direction: column;

    background-color: #f2f2f2;
    width: 924px;
    height: 252px;
    gap: 20px;
  }

  .pop-cards {
    flex-direction: row;
    width: 864px;
    height: 146px;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .pop-card-1 {
    width: 274.67px;
    height: 146px;
  }
  .pop-card-2 {
    width: 274.67px;
    height: 146px;
  }
  .pop-card-3 {
    width: 274.67px;
    height: 146px;
  }

  .activites {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    width: 924px;
    height: 390.02px;
    padding-left: 30px;
  }
  .act-cards {
    width: 864px;
  }

  .act-card-1 {
    width: 193.5px;
    height: 270px;
  }

  .act-card-img {
    width: 193.5px;
    height: 200px;
  }

  footer {
    width: 924px;
    height: 163px;
  }
}
